/* Universal */
a,
a:focus,
a:hover {
  color: #31373a;
}

html,
body {
  height: 100%;
  font-family: 'Comfortaa', cursive;
  margin: 0;
}

/* Start of Body */
ul li{
	list-style-type: none;
}

.appDescription{
	text-align: center; 
}

#testSal {
	width: 40%;
}

#testDepartment {
	width: 40%;
}

.jobForm {
	padding-left: 40px;
}
